# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Python
__pycache__/
*.py[cod]
venv/
.venv/
*.env

# IDE
.idea/
.vscode/

# Docker
.env
docker-compose.override.yml

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
System Volume Information/

# macOS
.DS_Store
.AppleDouble
.Locks
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.DocumentRevisions-V100/

# Linux
.cache/
.wtmp
.utmp
.login
.profile
.sudo_as_admin_successful
.ecryptfs/
*.swp
*~

# Other
*.log
